<div class="grid-item">
    <div class="card" style="width: 18rem;">
        <img
          src="{{ vest.image }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
            <div class="desc text-oneline">
                <h5 class="card-title ">{{ vest.title }}</h5>
            </div>
            <h6>{{ vest.price }}€ </h6>
            <div class="gg-c">
                <div class="iteee"> <a class="cartt"><img src="assets/cart/sott.png" class="logs"/></a> </div>
                <div class="iteee">
                    <div class="quant">
                        <p>{{ quant }}</p>
                    </div>
                </div>
                <div class="iteee"> <a class="cartt"><img src="assets/cart/add.png" class="logs"/></a> </div>
            </div>
        </div>
    </div>
</div>
 
