<div class="header" style="background-color: black;">
    <img src="assets/logo.png" style="max-width: 200px;"/>
    <div class="myNav" >
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink
                (click)="goHome()"
                >Home</a>
                
            </li>
            <li ngbNavItem>
                <a ngbNavLink>
                      <div class="row">
                        <div class="col">
                          <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary" 
                            style="border: none; color: white;"
                            id="dropdownBasic1" ngbDropdownToggle
                            (click)="goShop()"
                            >Shop</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem class="opt"
                              (click)="goElet()"
                              >Elettronica</button>
                              <button ngbDropdownItem class="opt"
                              (click)="goJew()"
                              >Gioielli</button>
                              <button ngbDropdownItem class="opt"
                              (click)="goMan()"
                              >Uomo</button>
                              <button ngbDropdownItem class="opt"
                              (click)="goWoman()"
                              >Donna</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
                
            </li>
            <li ngbNavItem>
                <a ngbNavLink
                (click)="goMe()"
                >Me</a>
                
            </li>
            <li>
                <li ngbNavItem>
                    <a ngbNavLink
                    (click)="goCart()"
                    >
                        <img src="assets/icona-carrello.png" style="max-width: 25px;"/>
                       </a>
                
            </li>
            <li>
                <li ngbNavItem
                (click)="goPref()"
                >
                    <a ngbNavLink>
                        <img src="assets/prefpieno.png" style="max-width: 25px;"/>
                       </a>
                
            </li>
        </ul>
    </div>
</div>

