.g-c{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.dede{
    font-weight: lighter;
    font-size: 20px;
}

.links{
    cursor: pointer;
    color: black;
    text-decoration: none;
}