<div class="tuttame" style="margin-bottom: 50px;">
    <h1>Registrati per non perdere le tue raccolte!</h1>
    <div class="fotoprof">
        <div class="input-group mb-3" style="width: 400px;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="assets/email.png" class="luckk"></span>
            </div>
            <input type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3" style="width: 400px;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img src="assets/psw.png" class="luckk"></span>
            </div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        
        </div>
    </div>    
</div >

<app-footer></app-footer>

