<div class="shopping-content">
    <h2>Su Isa Shop</h2>
    <p>Compra i tuoi vestiti preferiti in pochi passi</p>
    <div class="grid-container">
        <div class="grid-item">
            <img src="assets/shopping/shop1.webp" />
        </div>
        <div class="grid-item">
            <img src="assets/shopping/shop2.webp" />
        </div>
        <div class="grid-item">
            <img src="assets/shopping/shop3.webp" />
        </div>  
        <div class="grid-item">
            <img src="assets/shopping/shop4.webp" />
        </div> 
    </div>
    <app-clothes></app-clothes>
</div>

<app-footer></app-footer>
