<div class="sezione-body">
    <h2>Le nostre categorie</h2>
    <div class="grid-container">
        <div class="grid-item"> <button class="icone-vestiti"
            (click)="goWoman()">
            <img src="assets/sezioni/donna.png"/>
            </button>
            <p>Donna</p>
        </div>
        <div class="grid-item"> <button class="icone-vestiti"
            (click)="goMan()"
            >
            <img src="assets/sezioni/uomo.png"/>
            </button>
            <p>Uomo</p>
        </div>
        <div class="grid-item"> <button class="icone-vestiti"
            (click)="goElet()"
            >
            <img src="assets/sezioni/telefoni.png"/>
            </button>
            <p>Elettronica</p>
        </div>  
        <div class="grid-item"> <button class="icone-vestiti"
            (click)="goJew()"
            >
            <img src="assets/sezioni/gioielli.png"/>
            </button>
            <p>Gioielli</p>
        </div>
         
    </div>  <!--gridcont-->

    <div class="saldi">
        <img src="assets/saldi/saldiest.png" class="imgsal"/>
    </div>
   
</div>
